<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<!-- 变量自动注入 ( @Resource @Autowired )-->
	<context:annotation-config/>
	
	<!-- 装配所有组件 （@Controller @Repository @Service @Component）-->
	<context:component-scan base-package="com.usermanage"/>
	
	<!-- URL方法映射 ( @RequestMapping )-->
	<mvc:annotation-driven/>
	
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
	
	<!-- 页面View层基本信息设定 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!--<property name="prefix" value="/myjsp/"/> -->
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 自定义拦截器 -->
      <mvc:interceptors>
      	<!-- 管理员权限拦截器 -->
         <mvc:interceptor>
        <mvc:mapping path="/manager/**"/>
            <bean id="moginInterceptor" class="com.usermanage.util.MoginInterceptor"/>
        </mvc:interceptor> 
        	<!-- 普通用户权限拦截器 -->
          <mvc:interceptor>
        <mvc:mapping path="/web/**"/>
            <bean id="loginInterceptor" class="com.usermanage.util.LoginInterceptor"/>
        </mvc:interceptor>
      </mvc:interceptors> 
	
</beans>